@import '../vars';

.services {
	margin-bottom: 80px;
	&__wrap {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&::after {
			content: '';
			display: inline-block;
			width: 32%;
		}	
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 32%;
		margin-bottom: 50px;
		@media (max-width: 400px) {
			margin-bottom: 30px;
			padding-bottom: 30px;
		}
		img {
			margin-bottom: 20px;
			@media (max-width: 400px) {
				margin: 0;
			}	
		}
		@media (max-width: 400px) {
			width: 100%;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			& p {
				width: 70%;
				font-size: 12px;
			}
			border-bottom: 1px solid $lightgray;
		}	
		&_reverse {
			@media (max-width: 400px) {
				flex-direction: row-reverse;
			}	
		}	
		&_noborder {
			border: none;
		}	
	}
}

